{# The below code is for combine column transformation #}
# Processing combine column transformation
# The transformation ID is {{ transformation_id }}
self.save_table_columns(transformation_id="{{ transformation_id }}", table_obj=source_table)
try:
{%- for combine_statement in combine_column_statements %}
    source_table = source_table.mutate(
        {{ combine_statement['target_column'] }}={{ combine_statement['formula'] }}
    )
{%- endfor %}
except IbisTypeError as error:
    match = re.search(r"Column '(\w+)'", error.__str__())
    if match:
        raise ColumnNotExist(
            column_name=match.group(1),
            model_name=MODEL_NAME,
            transformation_name="combine columns"
        )
    raise TransformationFailed(
        transformation_name="combine columns",
        model_name=MODEL_NAME,
        error_message=str(error)
    ) from error
except Exception as error:
    raise TransformationFailed(
        transformation_name="combine columns",
        model_name=MODEL_NAME,
        error_message=str(error)
    ) from error
self.save_table_columns(transformation_id="{{ transformation_id }}_transformed", table_obj=source_table)
