{# The below code is for Find and Replace transformation #}
# Processing Find and Replace statements
# The transformation id is {{ transformation_id }}
self.save_table_columns(transformation_id="{{ transformation_id }}", table_obj=source_table)
try:
{%- for find_and_replace_statement in find_and_replace_statements %}
    source_table = source_table{{find_and_replace_statement}}
{%- endfor %}
except IbisTypeError as error:
    match = re.search(r"Column '(\w+)'", error.__str__())
    if match:
        raise ColumnNotExist(column_name=match.group(1), model_name=MODEL_NAME, transformation_name="find and replace")
    raise TransformationFailed(transformation_name="find and replace", model_name=MODEL_NAME, error_message=str(error)) from error
except Exception as error:
    raise TransformationFailed(transformation_name="find and replace", model_name=MODEL_NAME, error_message=str(error)) from error
self.save_table_columns(transformation_id="{{ transformation_id }}_transformed", table_obj=source_table)
