{# The below code is for Formula columns transformation #}
# Processing Formula columns statements
# The transformation ID is {{ transformation_id }}
self.save_table_columns(transformation_id="{{ transformation_id }}", table_obj=source_table)
try:
{%- for synthesis_statement in synthesis_statements %}
    source_table = source_table{{synthesis_statement}}
{%- endfor %}
except IbisTypeError as error:
    match = re.search(r"Column '(\w+)'", error.__str__())
    if match:
        raise SynthesisColumnNotExist(
            column_name=match.group(1),
            model_name=MODEL_NAME,
            transformation_name="formula column"
        )
    raise TransformationFailed(
        transformation_name="formula columns",
        model_name=MODEL_NAME,
        error_message=str(error)
    ) from error
except Exception as error:
    raise TransformationFailed(
        transformation_name="formula columns",
        model_name=MODEL_NAME,
        error_message=str(error)
    ) from error
self.save_table_columns(transformation_id="{{ transformation_id }}_transformed", table_obj=source_table)
