import re
import ibis
from ibis import _
from ibis.expr.types.relations import Table
from ibis.common.exceptions import IbisTypeError
from visitran.templates.model import VisitranModel
from visitran.errors import ColumnNotExist
from visitran.errors import TransformationFailed
from visitran.materialization import Materialization



MODEL_NAME = "customer_lifetime_value"

class DevCustomerLifetimeValue(VisitranModel):
    def __init__(self):
        super().__init__()
        self.materialization = Materialization.EPHEMERAL
        self.source_schema_name = "raw"
        self.source_table_name = "customer"
        self.destination_schema_name = "dev"
        self.destination_table_name = "customer_lifetime_value"
        self.database = "default_org__dvd_db_f_2025_06_27_18_36_c0ef26ef"

    def select(self) -> Table:
        source_table = self.source_table_obj
        return source_table


class Rental(VisitranModel):
    def __init__(self):
        super().__init__()
        self.materialization = Materialization.EPHEMERAL
        self.source_schema_name = "raw"
        self.source_table_name = "rental"
        self.destination_schema_name = "dev"
        self.destination_table_name = "rental"
        self.database = "default_org__dvd_db_f_2025_06_27_18_36_c0ef26ef"

    def select(self) -> Table:
        source_table = self.source_table_obj
        return source_table


class Payment(VisitranModel):
    def __init__(self):
        super().__init__()
        self.materialization = Materialization.EPHEMERAL
        self.source_schema_name = "raw"
        self.source_table_name = "payment"
        self.destination_schema_name = "dev"
        self.destination_table_name = "payment"
        self.database = "default_org__dvd_db_f_2025_06_27_18_36_c0ef26ef"

    def select(self) -> Table:
        source_table = self.source_table_obj
        return source_table


class CustomerLifetimeValue(DevCustomerLifetimeValue, Payment, Rental):
    def __init__(self):
        super().__init__()
        self.materialization = Materialization.TABLE
        self.destination_schema_name = "dev"
        self.destination_table_name = "customer_lifetime_value"
        self.database = "default_org__dvd_db_f_2025_06_27_18_36_c0ef26ef"

    def select(self) -> Table:
        dev_customer_lifetime_value: Table = DevCustomerLifetimeValue().select()
        source_table = dev_customer_lifetime_value

        # Processing join statements
        # The transformation ID is join-49708152-73bd-4e99-b6d0-d6f3f9fce731
        self.save_table_columns(transformation_id="join-49708152-73bd-4e99-b6d0-d6f3f9fce731", table_obj=source_table)
        try:
            rental: Table = Rental().select()
            payment: Table = Payment().select()
            source_table = source_table.left_join(rental, [(source_table['customer_id'] == rental['customer_id'])], rname='rental_{name}')
            source_table = source_table.left_join(payment, [(source_table['rental_id'] == payment['rental_id'])], rname='payment_{name}')
        except IbisTypeError as error:
            match = re.search(r"Column '(\w+)'", error.__str__())
            if match:
                raise ColumnNotExist(
                    column_name=match.group(1),
                    model_name=MODEL_NAME,
                    transformation_name="join"
                ) from error
            raise TransformationFailed(
                transformation_name="join",
                model_name=MODEL_NAME,
                error_message=str(error)
            ) from error
        except Exception as error:
            raise TransformationFailed(
                transformation_name="join",
                model_name=MODEL_NAME,
                error_message=str(error)
            ) from error
        self.save_table_columns(transformation_id="join-49708152-73bd-4e99-b6d0-d6f3f9fce731_transformed", table_obj=source_table)

        # Processing Groups and aggregations statements
        # The transformation ID is groups_and_aggregation-96b8a9cc-1479-43e6-8698-52d2065641ae
        self.save_table_columns(transformation_id="groups_and_aggregation-96b8a9cc-1479-43e6-8698-52d2065641ae", table_obj=source_table)
        try:
            source_table = source_table.group_by([source_table['first_name'], source_table['last_name']]).aggregate([_['rental_id'].count().name('total_rentals'), _['amount'].sum().name('total_payment_amount')])
        except IbisTypeError as error:
            match = re.search(r"Column '(\w+)'", error.__str__())
            if match:
                raise ColumnNotExist(
                    column_name=match.group(1),
                    model_name=MODEL_NAME,
                    transformation_name="groups and aggregations"
                )
            raise TransformationFailed(
                transformation_name="groups",
                model_name=MODEL_NAME,
                error_message=str(error)
            ) from error
        except Exception as error:
            raise TransformationFailed(
                transformation_name="groups",
                model_name=MODEL_NAME,
                error_message=str(error)
            ) from error

        # Processing sort statements
        try:
            source_table = source_table.order_by([ibis.desc("total_payment_amount")])
        except IbisTypeError as error:
            match = re.search(r"Column '(\w+)'", error.__str__())
            if match:
                raise ColumnNotExist(column_name=match.group(1), model_name=MODEL_NAME, transformation_name="sort")
            raise TransformationFailed(transformation_name="sort", model_name=MODEL_NAME, error_message=str(error)) from error
        except Exception as error:
            raise TransformationFailed(transformation_name="sort", model_name=MODEL_NAME, error_message=str(error)) from error

        return source_table
