import re
import ibis
from ibis import _
from ibis.expr.types.relations import Table
from ibis.common.exceptions import IbisTypeError
from visitran.templates.model import VisitranModel
from visitran.errors import ColumnNotExist
from visitran.errors import TransformationFailed
from visitran.materialization import Materialization
from {{ model_path }}.models.dev_orders import DevOrders



MODEL_NAME = "stg_order_summaries"

class StgCustomerOrders(DevOrders):
    def __init__(self):
        super().__init__()
        self.materialization = Materialization.EPHEMERAL
        self.source_schema_name = "dev"
        self.source_table_name = "orders"
        self.destination_schema_name = "stg"
        self.destination_table_name = "customer_orders"
        self.database = "default_org__js_db_f_2025_06_27_16_58_684329b3"

    def select(self) -> Table:
        source_table = self.source_table_obj
        return source_table


class StgOrderSummaries(StgCustomerOrders):
    def __init__(self):
        super().__init__()
        self.materialization = Materialization.TABLE
        self.destination_schema_name = "stg"
        self.destination_table_name = "customer_orders"
        self.database = "default_org__js_db_f_2025_06_27_16_58_684329b3"

    def select(self) -> Table:
        stg_customer_orders: Table = StgCustomerOrders().select()
        source_table = stg_customer_orders

        # Processing Groups and aggregations statements
        # The transformation ID is groups_and_aggregation_0
        self.save_table_columns(transformation_id="groups_and_aggregation_0", table_obj=source_table)
        try:
            source_table = source_table.group_by([source_table['customer_id']]).aggregate([_['order_date'].min().name('first_order'), _['order_date'].max().name('most_recent_order'), _['order_id'].count().name('number_of_orders')])
        except IbisTypeError as error:
            match = re.search(r"Column '(\w+)'", error.__str__())
            if match:
                raise ColumnNotExist(
                    column_name=match.group(1),
                    model_name=MODEL_NAME,
                    transformation_name="groups and aggregations"
                )
            raise TransformationFailed(
                transformation_name="groups",
                model_name=MODEL_NAME,
                error_message=str(error)
            ) from error
        except Exception as error:
            raise TransformationFailed(
                transformation_name="groups",
                model_name=MODEL_NAME,
                error_message=str(error)
            ) from error

        # Processing sort statements
        try:
            source_table = source_table.order_by([ibis.asc("customer_id")])
        except IbisTypeError as error:
            match = re.search(r"Column '(\w+)'", error.__str__())
            if match:
                raise ColumnNotExist(column_name=match.group(1), model_name=MODEL_NAME, transformation_name="sort")
            raise TransformationFailed(transformation_name="sort", model_name=MODEL_NAME, error_message=str(error)) from error
        except Exception as error:
            raise TransformationFailed(transformation_name="sort", model_name=MODEL_NAME, error_message=str(error)) from error

        return source_table
